<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="creditCardPaymentService" class="org.example.spring_beans_define.services.xml.CreditCardPaymentService" init-method="init" destroy-method="destroy" />
    <bean id="paypalPaymentService" class="org.example.spring_beans_define.services.xml.PaypalPaymentService" init-method="init" destroy-method="destroy" />

    <bean id="paymentProcessor" class="org.example.spring_beans_define.services.xml.PaymentProcessor">
        <constructor-arg ref="creditCardPaymentService" />
    </bean>

</beans>
